<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace=指定一个对应的Dao/mapper接口-->
<mapper namespace="com.study.mybatis.dao.UserDao">

    <select id="getUserList" resultType="com.study.mybatis.pojo.User">
    select * from user

  </select>
</mapper>